.loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* overlays */


.working {
    background: linear-gradient(to right, rgba(56, 146, 236, 0.25), rgba(56, 146, 236, 0.25), rgba(56, 146, 236, 1), rgba(56, 146, 236, 0.25), rgba(56, 146, 236, 0.25));
    background-size: 400% 100%;
    animation: loading-pulse 1s infinite;
}

.updated {
    animation: loading-complete 3s;
}

.failed {
    background-color: #ff7b72;
}

@keyframes loading-pulse {
    0%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes loading-complete {
    0%{background: rgba(56, 236, 131, 1)}
    15%{background: rgba(56, 236, 131, 1)}
    100%{background: rgba(56, 236, 131, 0)}
}
/* END overlays */

.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}


/* line loader */
/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }
/* END line loader */

/* HTML: <div class="spiner-loader"></div> */
.spinner-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}